{% extends "govuk-verify.html" %}

{% set section = "index" %}

{% block content %}

<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">

      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Components</a>
            </li>
            <li class="active">
                GOV.UK Verify
            </li>
          </ol>
        </div>

      </div>

      <div class="column-one-third column-float-right">
         <img class="component-logo" src="https://govuk-verify.cloudapps.digital/images/verify-product-image.png" style="width: 100%; margin-top: 40px;">
      </div>

      <!-- /public/images/govuk-verify-white.png -->

      <div class="column-two-thirds column-float-left">

        <h1 class="heading-xlarge">Be sure your users are who they say they are</h1>

        <div class="lede">
         <p>GOV.UK Verify is a trusted, secure way to prove identity. Designed to prevent fraud and protect users’ privacy, it’s a safe way to make sure you’re giving the right people access to your service. </p>

				</div>

        <a class="button button-start" href="/verify/getstarted" role="button">
          Find out how to get started
        </a>

        <br><br>
      </div>

    </div>
  </div>
</div>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">GOV.UK Verify can:</h2>

				<ul class="list list-bullet">
        <li>help services save time and money processing face-to-face identity checks</li>
        <li>help users save time waiting for documents to arrive in the post</li>
        <li>replace physical signatures on legal documents</li>
        </ul>
        <p>
        <a href="/verify/getstarted">Find out if GOV.UK Verify is right for your service</a>.
        </p>

    </div>
  </div>

  <hr style="margin-bottom: 0;">

   <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">What GOV.UK Verify does</h2>
<p> GOV.UK Verify:</p>

        <ul class="list list-bullet">

        <li>lets users confirm their identity with personal data held by ‘certified companies’ </li>
        <li>helps services match individuals to records they already have or add new records if they need to</li>
      <li>makes sure information isn’t stored in one place and is never shared unnecessarily</li>
        <li>provides different levels of identity assurance so services can choose the right one for them</li>
         <li>continually monitors for fraud </li>
        </ul>
        <p>
       Read about <a href="/verify/getstarted#">how GOV.UK Verify works</a>.
        </p>

    </div>
  </div>

   <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">Secure by design</h2>

    <p>
 Working with the <a href="https://www.ncsc.gov.uk">National Cyber Security Centre</a> and the  <a href="https://www.gov.uk/government/groups/privacy-and-consumer-advisory-group">Privacy and Consumer Advisory Group</a>, the GOV.UK Verify team designed GOV.UK Verify to:
    </p>
     <ul class="list list-bullet">

        <li>meet EU rules like the general data protection regulation (GDPR)</li>
        <li>meet the highest anti-fraud standards</li>
        <li>protect users’ privacy</li>
    
        </ul>
        <p>  
Read about the <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/361496/PCAG_IDA_Principles_3.1__4_.pdf">identity assurance principles</a> that GOV.UK Verify follows.
        </p>
          </div>
        </details>
    
          </div>
        </details>

    </div>
  </div>

<hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">Supported by the people who built it</h2>

    <p>
    The GOV.UK Verify team at the Government Digital Service (GDS) gives services:
    </p>
     <ul class="list list-bullet">
<li>24/7 access to support</li>
<li><a href="#">step-by-step guidance</a> to help you connect</li>
<li>99.9 per cent service uptime</li>
    
        </ul>
        <p>  
<a href="#">Contact the support team</a>.
        </p>
          </div>
        </details>
    
          </div>
        </details>

    </div>
  </div>

 
  <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-two-thirds" style="margin-bottom: 20px;">
      <h2 class="heading-large">Tried and trusted</h2>
      <p>You don’t need to build your own digital identity check from scratch or go through a long procurement process.</p>

      <p>GOV.UK Verify has been designed and tested by GDS and it’s being used by over 2 million users in 8 organisations across government.</p>
    </div>

    </div>

  </div>

  <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Organisations using GOV.UK Verify</h2>

      <br>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #00beb7;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Department<br>for Work &amp;<br>Pensions</span>
      </div>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #00a33b;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Department<br>for Environment<br>Food &amp; Rural Affairs</span>
      </div>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #006c56;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Driver &amp; Vehicle<br>Licencing<br>Agency</span>
      </div>

      <div class="logo column-one-quarter" style="padding-left: 10px; border-left: 3px solid #003479;">
        <span style="display:block; height: 50px; background-image: url(https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png); background-size: auto 40px; background-repeat: no-repeat;"></span>
        <span style="font-family: Arial; line-height: 1em;">Department for<br>Business, Energy<br>&amp; Industrial Strategy</span>

      </div>

<p class="services-link">See the <a href="https://www.gov.uk/performance/govuk-verify/government-services">full list of services and organisations</a> already using GOV.UK Verify.</p>

<div class="panel panel-border-wide">
              <p class="">“GOV.UK Verify is my favourite thing ever.”</p>
              <p>– Vin Diesel, Chief Mechanic, DVLA</p>
            </div>

  <hr style="margin-bottom: 0;">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">How much GOV.UK Verify costs</h2>
      <p>GOV.UK Verify costs each central government department £1.20 per user per year for all its services.</p>
<p><a href="#">Email us</a> if you’d like to know more about using GOV.UK Verify in local government or the private sector.</p>
    </div>
  </div>

	<hr />


</main>

{% endblock %}
