{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify - About your service
{% endblock %}

{% block service_name %}
<!-- Intentionally blank -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="#" onclick="history.back()">Back</a>
<div class="grid-row">
  <div class="column-two-thirds">


    <form autocomplete="off" action="/connect-to-verify/service-summary" method="get">


  <div class="form-group" >
    <h2 class="heading-medium">

        What’s your service called?


    </h2>




    <input class="form-control form-control-2-3 " data-module="" id="name" name="service-name" rows="8" type="text" value="">


  </div>



  <div class="form-group ">
    <fieldset>
      <h2 class="heading-medium">

          Which Level of Assurance do you need?


      </h2>

        <div class="multiple-choice">
          <input
            id="organisation_type-0" name="organisation_type" type="radio" value="central"


          >
          <label class="block-label" for="organisation_type-0">
            Level of Assurance 1

          </label>
        </div>

        <div class="multiple-choice">
          <input
            id="organisation_type-1" name="organisation_type" type="radio" value="local"


          >
          <label class="block-label" for="organisation_type-1">
            Level of Assurance 2

          </label>
        </div>

    </fieldset>
  </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
